:root {
    --primary: #161616;
    --accent: #33F416;
    --font-primary: "Poppins", sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-wrapper {
    background: var(--primary);
    color: white;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.highlighted-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border: 2px solid white;
    margin-top: 2rem;
}
.highlighted-section-header {
    position: absolute;
    top: -20px;
    background: white;
    color: black;
    font-weight: 600;
    padding: 0 1rem 0 1rem;
    font-size: 1.3rem;
}

.goals-wrapper {
    gap: 1rem;
    padding: 2rem 0 2rem 0;
    font-size: 1.1rem;
}

#streak-wrapper {
    position: relative;
    display: grid;
    grid-auto-flow: row; 
    grid-template-columns: repeat(auto-fill, 12px); 
    gap: 8px;
    width: 70%;
    padding: 2rem 0 2rem 0;
  }

  .streak-square {
    width: 10px;
    height: 12px;
    background-color: var(--accent); 
    border-radius: 2px;
  }

  /* Add activity */

#add-activity {
    padding: 2rem 0 2rem 0;
}

#add-activity button {
    padding: 1rem 2rem;
    font-size: 18px;
    background: var(--accent);
    color: black;
    font-weight: 600;
    border: none;
}